Flask==0.12.2
google-cloud-datastore==1.5.0
google-cloud-error_reporting==0.29.0
oauth2client==4.1.2
mechanize=0.3.6
# selenium=3.9.0
BeautifulSoup4==4.6.0

# google-cloud-storage==1.7.0
# google-cloud-logging==1.4.0
# gunicorn==19.7.1
# mock==2.0.0
# six==1.11.0
# requests[security]==2.18.4
# honcho==1.0.1
# psq==0.6.0
